.content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
}

.sign-up {
  margin: 0;
}

.back-to-login {
  background-color: transparent;
  border: none;
  color: var(--addcart-background);
  font-weight: 700;
  transform: translateX(-2.5rem);
  width: 6rem;
}

.container-signup {
  align-items: center;
  display: flex;
  height: 3rem;
  width: 100%;
}

.container-signup h2 {
  color: rgb(51, 51, 51);
  transform: translateX(-50%);
}
