.content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
}

.back-to-login {

  /* color: rgb(255, 110, 64); */
  color: rgb(116, 198, 149);
  width: 100%;
}

.container-signup {
  align-items: center;
  display: flex;
  height: 3rem;
  width: 100%;
}

.container-signup h2 {
  color: rgb(51, 51, 51);
  transform: translateX(-50%);
}
