.request {
  align-items: center;
  background-color: rgb(246, 249, 252);
  border: none;
  border-bottom: solid 1px var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  display: flex;
  font-size: 12px;
  height: 4rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}

