.footer-container {
  background-color: white;
  border-top: 1px solid var(--border-color);
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.button-footer {
  background-color: transparent;
  border: none;
  color: var(--font-color);
}

.button-footer svg {
  height: 1.3rem;
  width: 1.3rem;
}

.button-footer:first-child {
  color: var(--addcart-background);
}

.value-cart {
  background-color: var(--addcart-background);
  border-radius: 10%;
  color: white;
  font-size: 10px;
  padding: 0.2rem;
  position: absolute;
  transform: translate(-0.8rem, -0.7rem);
}
