.products-main {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5rem;
  width: 100vw;
}

.search-and-profile img {
  height: 1.5rem;
  width: 2rem;
}

.products-text {
  color: var(--font-color);
  font-size: 16px;
  text-align: center;
}

.test {
  background-color: black;
  border: none;
  border-radius: 100%;
  bottom: 8rem;
  height: 3rem;
  position: fixed;
  right: 1.5rem;
  width: 3rem;
}

.test svg {
  color: white;
  height: 2rem;
}
