.products-main {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3rem;
  width: 100vw;
}

.search-and-profile {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.search-and-profile img {
  height: 1.5rem;
  width: 2rem;
}

.products-text {
  color: rgb(50, 50, 50);
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.test {
  position: absolute;
  transform: translate(50%, 50%);
}
