/* img {
  width: 25%;
} */

.product-card {
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-evenly;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  width: calc(50% - 50px);
}

.product-card:nth-child( 2n ) {
  margin-left: none;
  margin-right: 0.7rem;
}

.product-container-img {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  display: flex;
  height: 100px;
  justify-content: center;
  margin-bottom: 10px;
}

.product-container-img img {
  align-content: center;
  height: 90%;
  width: auto;
}

.product-container-info {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 2px;
  width: 100%;
}

.product-container-info span {
  font-size: 12px;
  font-weight: 600;
}

.plus-cart {
  background-color: rgb(19, 78, 223);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  height: 2rem;
  text-align: center;
  width: 2rem;
}

.dash-cart:hover, .plus-cart:hover {
  color: white;
  font-weight: 900;
}

.dash-cart:active, .plus-cart:active {
  opacity: 85%;
}


.product-name {
  color: var(--font-color);
  font-size: 16px;
  font-weight: 900;
  margin: 0.5rem 0;
}

/* .add-cart-container button {
  background-color: rgb(116, 198, 149);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 2.5rem;
}

.add-cart-container input {
  color: black;
  margin: 0 1rem;
} */

.product-value {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  height: 2rem;
  justify-content: center;
  margin-bottom: 0.5rem;
  width: 6rem;
}

.product-value span {
  color: rgb(50, 50, 50);
}

.finish-order {
  background-color: transparent;
  border: none;
}
