/* img {
  width: 25%;
} */

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(252, 179, 77);
  border-radius: 20px 0 20px 20px;
  box-shadow: -3px -3px 7px #ffffff73 , 3px 3px 5px rgba(94, 104, 121, 0.288);
  height: 300px;
  margin: 1rem 1rem 2rem;
  width: calc(50% - 50px);
  justify-content: center;
}

.product-card:nth-child( 2n ) {
  margin-left: none;
  margin-right: 0.7rem;
}

.product-container-img {
  align-items: center;
  border-radius: 10px;
  background-color: white;
  display: flex;
  height: 150px;
  width: 150px;
  justify-content: center;
  margin-bottom: 10px;
}

.product-container-img img {
  align-content: center;
  width: 50%;
}

.product-container-info {
  align-items: center;
  display: flex;
  padding: 2px;
}

.product-container-info button, input {
  border: none;
  height: 40px;
  width: 70px;
}

.product-container-info button {
  background-color: rgb(180, 17, 202);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-container-info input {
  color: rgb(180, 17, 202);
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  appearance: none;
  margin: 0;
}

.dash-cart:hover, .plus-cart:hover {
  background-color: rgb(104, 9, 117);
  color: white;
  font-weight: 900;
}

.dash-cart:active, .plus-cart:active {
  opacity: 85%;
}

.dash-cart, .plus-cart {
  border-radius: 25px 0 0 25px;
  color:rgb(252, 179, 77);
  font-size: 26px;
  font-weight: 900;
}

.plus-cart {
  border-radius: 0 25px 25px 0;
}

.product-card span {
  color: rgb(180, 17, 202);
  font-size: 25px;
  font-weight: 900;
}

.rating img {
  fill: rgb(116, 198, 149);
  height: 1rem;
  margin-right: 0.2rem;
}

.product-name {
  color: rgb(180, 17, 202);
  font-size: 20px;
  font-weight: 900;
  margin: 0.5rem 0;
}

/* .add-cart-container button {
  background-color: rgb(116, 198, 149);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 2.5rem;
}

.add-cart-container input {
  color: black;
  margin: 0 1rem;
} */

.product-value {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  height: 2rem;
  justify-content: center;
  margin-bottom: 0.5rem;
  width: 6rem;
}

.product-value span {
  color: rgb(50, 50, 50);
}

.finish-order {
  background-color: transparent;
  border: none;
}
